<!DOCTYPE html>
<html lang="en" class="svg">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- build:css -->
		<link rel="stylesheet" href="http://pasteup.guim.co.uk/0.0.5/css/fonts.pasteup.min.css"/>
		<!-- endbuild -->
		<title><%= repo %></title>
	</head>
	<body>

		<figure class="element-interactive interactive"></figure>

		<!-- build:js -->
		<script charset="utf-8" src="jspm_packages/system.js"></script>
		<script src="config.js"></script>
		<script>
			System.import("src/lib/index");
		</script>
		<!-- endbuild -->


	</body>
</html>
